body{
    font-family: '微软雅黑';
    font-size:14px;
}
.center{
    margin:180px auto ;
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.nav-header{color:#333;}
.mar-top{margin-top: 60px;}
.sidebar-nav {padding: 9px 0;}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}
.navbar .navbar-inner {border: 0;-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0,0,0,.25);}
.navbar .brand {padding: 14px 20px 16px;font-size: 16px;font-weight: bold;text-shadow: 0 -1px 0 rgba(0,0,0,.5); background: url('../img/LOGO260.png') -28px 10px no-repeat;width: 204px;height:20px;
}
.navbar .nav > li > a {padding: 15px 11px;}
.navbar .btn-navbar {
    margin-top: 10px;
}
.carousel {
    margin-bottom: 60px;
}
.carousel .container {
    position: relative;
    z-index: 9;
}
.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}
.carousel .item {
    height: 500px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}
@media (max-width: 979px) {
    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }

    .carousel .item {
        height: 500px;
    }
    .carousel img {
        width: auto;
        height: 500px;
    }
}
@media (max-width: 767px) {
    .navbar-inner {
        margin: -20px;
    }
    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
    }
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }
}
.well .nav-header{
    font-size:14px;
}
.logindiv{
    width: 440px;
    padding:20px 60px;
}
.font-16{
    font-size:16px;
}

.each_facility dd{line-height: 20px;height: 20px;}
.each_facility dd a:HOVER{text-decoration: none;cursor: pointer;}

.each_room .text input{padding:0 0 0 2px;line-height: 24px;height:22px;width:290px;margin:8px 10px 0 20px;border:1px solid #fff;}
.each_food{padding-top:0;padding-left: 0;}
.each_food li{float: left;width:30%;margin:20px 0 0 26px;}
.each_info{padding-top:0;padding-bottom: 0;}

.icon-vertical{vertical-align: -2px;}

.control_center .right_div{height:260px;margin-bottom:20px;}
.control_center h4{margin:0;}
.control_center .admin div{margin:25px 0;}
.control_center .normal .right_top{margin:10px;}
.control_center .normal .right_top span{margin:0 20px;line-height:30px;}
.control_center .adminsuper table tr td{text-align: center;}



